## filepaths
a_locs_poly_setup/out/*
a_locs_poly_setup/nhd/*
b_historical_RS_data_collation/in/*
b_historical_RS_data_collation/mid/*
b_historical_RS_data_collation/out/*
c_calculate_handoff_coefficients/mid/*
c_calculate_handoff_coefficients/out/*
c_calculate_handoff_coefficients/figs/*
d_apply_handoff_coefficients/mid/*
d_apply_handoff_coefficients/out/*
d_apply_handoff_coefficients/figs/*
e_separate_NW_CLP_data/out/*

tmp/*
env/*
data

## General R files ----
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
