## filepaths
a_locs_poly_setup/out/*
!a_locs_poly_setup/out/NW_CLP_all_points.csv
a_locs_poly_setup/nhd/*
b_site_RS_data_acquisition/mid/*
b_site_RS_data_acquisition/out/*
b_site_RS_data_acquisition/run/*
b_site_RS_data_acquisition/down/*
c_regional_RS_data_acquisition/mid/*
c_regional_RS_data_acquisition/out/*
c_regional_RS_data_acquisition/run/*
c_regional_RS_data_acquisition/down/*
d_baseline_QAQC/out/*
e_calculate_handoff_coefficients/mid/*
e_calculate_handoff_coefficients/out/*
e_calculate_handoff_coefficients/figs/*
f_apply_handoff_coefficients/mid/*
f_apply_handoff_coefficients/out/*
f_apply_handoff_coefficients/figs/*
g_separate_NW_CLP_data/out/*
compare_masks/*

# python venv folder
env/*

## OneDrive Symlink
data/

## targets folder
_targets/

## R Environment Variables
.Renviron
.Rproj.user/
.Rhistory

## DS_Store files
*.DS_Store
